<div class="panel panel-default">
    <div class="panel-heading">
        メッセージ一覧
    </div>

    <div class="panel-body">
        <% @messages.each do |message| %>
        <span class="label label-info"><%= message.name %></span>
        <span style="margin-left:10px;padding-right:10px;margin-right:10px;border-right:1px solid #eee;"><%= message.body %></span>
        <span class="label label-success"><%= message.age %></span>
        (<%= link_to "edit" , edit_message_path(message) %>
        <%= link_to "distroy" ,message , method: :delete, data: {confirm:'削除してもよろしいですか？'} %>)
        <br>
        <% end %>
    </div>
</div>

<% #部分テンプレートを読み込む %>
<%= render 'form' %>